@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$color-01: #333131;
$color-02: #C37956;
$color-03: #C1503D;
$color-04: #9A989A;
$color-05: #F3F6F4;

$color-05-A30: rgba(#F3F6F4, 0.3);
$color-01-A70: rgba(#333131, 0.7);

$white-space-01: 4rem;
$white-space-02: 2rem;

$font-size-XXL: 3.7rem;
$font-size-XL: 2rem;
$font-size-L: 1.2rem;

$border-radius-01: 10px;

$bottom-margin-S: 1rem;
$bottom-margin-XS: .5rem;

$top-margin-M: 1rem;
$top-margin-S: .5rem;
$top-margin-XS: .2rem;

$right-margin-XS: .5rem;

$tag-padding-up-down: .4rem;
$tag-padding-left-right: .9rem;

$container-padding-up-down: .4rem;
$container-padding-left-right: .9rem;

//NOTE: this needs to be calculated based on the ratio between gallery__sidebar and the gallery__viewer
$photos-size: 23.66vw;
$photos-grid-gab: 1.5vw;
$photos-grid-size: 80vw; //(photos-size * 3) + (photos-grid-gab * 6)

//ANIMATIONS-----------------------------------------------------
$load-animation-ms: 500ms;
$hero-deisgn-hover: 1200ms;
$animation-speed-M: 350ms;

@keyframes hero-design-load-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {  
        opacity: 1;
        transform: 0;
    }
}
@keyframes hero-design-load-up {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {  
        opacity: 1;
        transform: 0;
    }
}
