@import './Confiq.scss';

.gallery {
    width: 100vw;
    height: 100vh;
    display: flex;
    .gallery__sidebar {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-01;

        transition: $animation-speed-M;

        .gallery__search-container {
            width: 95%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: $top-margin-S;
            margin-bottom: $bottom-margin-S;
        }
        
        .gallery__tag-container {
            width: 95%;
        }
    }

    .gallery__viewer {
        margin-top: $top-margin-M;
        width: 80%;
        height: 85%;
        background-color: $color-05;
        display: flex;
        justify-content: center;  
        overflow-y: scroll;
    }
    .gallery__viewer::-webkit-scrollbar {
        display: none;
    }
}