
@import './Confiq.scss';

.header {
    width: 100%;
    background-color: $color-01;

    .header__container {
        padding: $white-space-02 $white-space-01;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        position: relative;
        color: $color-05;
        font-weight: bold;
        font-size: $font-size-L;
        
    }
    .header__underline {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;  
        margin-left: auto; 
        margin-right: auto; 
        transform: translateY(.5rem);
        width: 0%;
        height: 2px;
        background-color: $color-02;
        transition: $animation-speed-M;
    }
    .header__logo:hover {
        .header__underline {
            width: 100%;
        }
    }

    .header__logo--color-primary {
        color: $color-02;
    }

    .header__my-account-btn {
        position: relative;
        color: $color-05;
        font-size: $font-size-L;
    }

    .header__my-account-btn:hover {
        color: $color-02; 
        .header__underline {
            width: 100%;
        }
    }
}
