@import './Confiq.scss';

.photos-grid {
    background-color: transparent;
    
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    width:  $photos-grid-size;
    
    .photos-grid__item {
        position: relative;
        cursor: pointer; 
        margin: $photos-grid-gab;
        width: $photos-size;
        height: $photos-size;
        border-radius: $border-radius-01;
        overflow: hidden;
        
        .photos-grid__img {
            
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%;
            height: auto;
            max-width: 200%;
            max-height: 200%;
        }
    }
    .photos-grid__item:hover {
        .photos-grid__item__details {
            opacity: 1;
        }
    }

    .photos-grid__item--empty {
        background-color: $color-04;
        display: flex;
        justify-content: center;
        align-items: center;
        .photos-grid__upload {
            pointer-events: none;
            font-size: $font-size-L;
            color: $color-05;
        }
    }
    .photos-grid__item--empty:hover {
        .photos-grid__upload {
            color: $color-01;
            font-weight: bold;
        }
    }

    .photos-grid__item__details {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
        padding:  $container-padding-up-down $container-padding-left-right;
        background-image: linear-gradient(transparent, $color-01);
        .photos-grid__item__details-container {
            height: 100%;
            color: $color-05;
            font-weight: bold;
            font-size: $font-size-L;
            display: flex;
            align-items: flex-end;
        }

        opacity: 0;
        transition: $animation-speed-M;
    }
}
